Hozzon létre 3 lekérdezést, amelyeknél a GROUP BY speciális lehetőségeit használja

In [ ]:
SELECT UGYFEL_FK,METTOL,SUM(FELNOTT_SZAM+GYERMEK_SZAM)  from Foglalas WHERE UGYFEL_FK LIKE 'B%'  GROUP BY ROLLUP (UGYFEL_FK,METTOL);

In [ ]:
SELECT sz.SZOBA_ID,sz.SZALLAS_FK,sum(f.FELNOTT_SZAM+f.GYERMEK_SZAM) as 'Össz szám'  from Foglalas f join szoba sz on f.szoba_fk =sz.SZOBA_ID GROUP BY Cube (sz.SZOBA_ID,sz.SZALLAS_FK);

In [ ]:
SELECT szh.SZALLAS_NEV,KLIMAS,AVG(szh.CSILLAGOK_SZAMA) From Szallashely szh join szoba sz on szh.SZALLAS_ID =sz.SZALLAS_FK  GROUP by GROUPING Sets((szh.SZALLAS_NEV),(sz.KLIMAS))

Hozzon létre legalább 1 tárolt eljárást, függvényt vagy trigger-t

In [74]:
CREATE or ALTER proc TipusFoglalasok
(
 @tipus nvarchar(20)
)
AS
BEGIN
  SELECT szh.SZALLAS_NEV,COUNT(f.FOGLALAS_PK) from Szallashely szh join Szoba sz on szh.SZALLAS_ID = sz.SZALLAS_FK join Foglalas f on f.SZOBA_FK  = sz.SZOBA_ID where szh.TIPUS=@tipus 
  GROUP BY szh.tipus,szh.SZALLAS_NEV
End

: Msg 262, Level 14, State 18, Procedure SPUgyfelFoglalasok, Line 1
CREATE PROCEDURE permission denied in database 'zh1'.

In [ ]:
Exec TipusFoglalasok 'vendégház'